@font-face {
    font-family: 'Vidaloka';
    src: url('Vidaloka-Regular.woff2') format('woff2'),
        url('Vidaloka-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

