@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-Black.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-Bold.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-BlackItalic.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-ExtraBold.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-BoldItalic.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-ExtraLight.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-Italic.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-Light.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-LightItalic.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-Medium.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

